body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(20, 20, 22, 1) 90%, rgba(54, 61, 62, 1) 100%);
    color: rgba(255, 255, 255, 0.897);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    width: 60%;
    margin: 0 auto;
    background-color: #1a1818;
    padding: 15px;
    #top-container {
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    #right-container {
        margin-left: 20px;
        p {
            font-size: 0.8em;
        }
        h2 {
            color: white;
            font-size: 2em;
        }
        .buttonbox {
            display: flex;
            width: 45%;
            justify-content: space-between;
            padding-top: 20px;
            //border: 1px solid white;
        }
        #loginbutton {
            border: none;
            background-color: rgb(76, 175, 79);
            color: white;
            font-size: 1.1em;
            border-radius: 15px;
            padding: 5px 15px 5px 15px;
            margin-left: 10px;
            transition: 0.3s ease-in;
            &:hover {
                background-color: rgb(51, 122, 54);
                transform: scale(1.1);
            }
        }
        #mapAppearButton {
            img {
                transition: 0.3s ease-in;
                &:hover {
                    transform: scale(1.2) rotate(15deg);
                }
            }
        }
    }
    #map {
        position: absolute;
        top: 15px;
        right: 305px;
        z-index: 2;
        //display: none;
        width: 40%;
        height: 300px;
        //border-radius: 20px;
        #mapdisappearButton {
            position: absolute;
            right: 0;
            letter-spacing: 2px;
            border-bottom-left-radius: 15px;
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: rgba(76, 175, 79, 0.5);
            color: white;
            border: none;
            z-index: 3;
            transition: 0.2s ease-in-out;
            &:hover {
                background-color: #4CAF50;
            }
        }
    }
    #playlist-container {
        width: 100%;
        //border: 1px solid black;
        .playIcon {
            transition: 0.5s ease;
            &:hover {
                transform: scale(0.8);
            }
        }
        .stopIcon {
            transition: 0.5s ease;
            &:hover {
                transform: scale(0.8);
            }
        }
        .playstop-button {
            width: 50px;
            word-wrap: none;
        }
        #bottom-container {
            p {
                text-align: center;
            }
        }
        #playlist-image {
            text-align: center;
            overflow: hidden;
        }
        #playlist-table {
            border-collapse: collapse;
            width: 100%;
        }
        #playlist-table td,
        #playlist-table th {
            padding: 8px;
            font-size: 0.8em;
            font-weight: 500;
            word-wrap: none;
        }
        #playlist-table tr {
            transition: 0.2s ease-in;
            &:hover {
                background-color: rgba(221, 221, 221, 0.24);
                //transform: scale(1.05);
            }
        }
        #playlist-table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            //background-color: rgba(76, 175, 79, 0.8);
            color: rgba(255, 255, 255, 0.5);
            border-bottom: 2px solid rgba(255, 255, 255, 0.3);
        }
    }
    #footer {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        font-size: 0.75em;
    }
}