body {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

#map {
    //position: absolute;
    width: 50%;
    height: 100vh;
    //z-index: 0;
    //top: 150px;
    //border-radius: 20px;
}

#playlist-container {
    //position: absolute;
    //z-index: 20;
    width: 50%;
    height: 100vh;
    //left: 900px;
    border: 1px solid black;
    //background-color: grey;
    //border-radius: 20px;
}